<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create New User</title>
</head>

<body>
    <form method="post" action="/user">
        <label for="usn">Enter Usernmae: </label>
        <input type="text" name="username" id="usn">
        <hr><br>
        <label for="email">Enter Email: </label>
        <input type="text" name="email" id="email">
        <hr><br>
        <label for="pass">Enter Password: </label>
        <input type="password" name="password" id="pass">
        <br><br>
        <button>Submit</button>
    </form>
</body>

</html>